@import "../../vars.css";

/* About.module.css */

.container {
  margin-top: 50px;
  padding: 100px;
  background-color: #f9f9f9;
  color: #333;
}

.title {
  font-size: 3vw;
  text-align: left;
  margin-bottom: 30px;
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  max-width: 900px; /* Constrain the title width */
  margin-left: auto; /* Ensure it is aligned to the left but within the max-width */
  margin-right: auto; /* Ensure it does not overflow */
  padding-left: 20px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto;
}

.aboutTextContainer {
  text-align: justify;
  flex: 1;
  padding-left: 20px;
}

.aboutText {
  font-size: 2.2vw;
  line-height: 1;
  margin-bottom: 15px;
}

.aboutImage {
  width: 100%;
  max-width: 350px; /* Control the max size of the image */
  border-radius: 10px;
}

@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .aboutTextContainer {
    padding-left: 0;
    padding-top: 20px;
  }

  .aboutImage {
    max-width: 100%;
    padding-top: 20px;
  }
  .title{
    padding-left: 0;
    margin-bottom: 0;
  }
}
